header {
  background: none;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
  font-family: 'Julius Sans One', sans-serif; }
  header h1 {
    padding-top: 1rem;
    font-size: 3rem;
    height: 4rem; }
    header h1 a {
      text-decoration: none;
      color: #cebfdb; }
  header p {
    color: white;
    padding-bottom: .4rem; }
  header nav {
    border: 1px solid white;
    border-radius: 2rem; }

@media (max-width: 700px) and (min-width: 400px) {
  body header h1 {
    font-size: 2.3rem; }
  body header .titulo-uno {
    font-size: .8rem; } }

.body-home {
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position: center; }
  .body-home main {
    display: flex;
    width: 99%;
    height: 500px;
    font-family: 'Julius Sans One', sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif; }
    .body-home main .texto-creacion {
      text-align: center;
      border-radius: 3rem;
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      background-color: rgba(243, 243, 243, 0.2); }
    .body-home main p {
      text-align: center;
      color: white;
      font-size: 2.8rem;
      text-shadow: 7rem white; }
    .body-home main button {
      border: 1px solid white;
      background-color: chartreuse;
      opacity: .7;
      box-shadow: 3px 3px;
      display: flex;
      width: 200px;
      height: 80px;
      align-items: center;
      padding: 10px;
      justify-content: center;
      justify-items: center;
      align-content: center;
      text-align: center;
      border-radius: 2rem; }
    .body-home main a {
      text-decoration: none; }

@media (max-width: 700px) and (min-width: 400px) {
  .body-home main p {
    color: white;
    font-size: 2.2rem;
    margin-left: 1rem;
    text-align: center; }
  .main-nosotros {
    grid-template-areas: "texto-uno" "imagen-nosotros" "texto-dos" "imagen-dos"; } }

@media (max-width: 992px) and (min-width: 700px) {
  body-home main p {
    color: white;
    font-size: 2.5rem; } }

.body-nosotros {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position: center;
  background-image: url(../img/fondo-nosotros.png); }
  .body-nosotros .main-nosotros {
    display: grid;
    grid-template-areas: "texto-uno imagen-nosotros" "imagen-dos texto-dos";
    justify-content: center;
    text-align: center;
    color: white;
    width: 99%;
    height: 500px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.3rem;
    column-gap: 3rem; }
    .body-nosotros .main-nosotros .img-nosotros {
      width: 390px;
      height: 220px; }

@media (max-width: 700px) and (min-width: 400px) {
  .body-nosotros .main-nosotros {
    grid-template-areas: "texto-uno" "imagen-nosotros" "texto-dos" "imagen-dos";
    overflow-y: scroll;
    font-size: 1.1rem; } }

.body-productos {
  background-image: url(../img/fondo-productos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position: center; }
  .body-productos main {
    display: flex;
    width: 99%;
    height: 500px;
    font-family: 'Julius Sans One', sans-serif;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    font-family: 'Julius Sans One', sans-serif; }
  .body-productos .producto {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid white;
    width: 200px;
    height: 200px;
    justify-content: center;
    text-align: center;
    transition: .5s;
    overflow: hidden; }
    .body-productos .producto .img-producto {
      width: 200px;
      height: 200px;
      padding: 30px; }
    .body-productos .producto p {
      width: 200px;
      height: 40px;
      color: white; }
  .body-productos .producto:hover {
    height: 390px;
    transition: .5s;
    border: 1px solid aqua; }
  .body-productos .boton-comprar {
    width: 100px;
    height: 40px;
    border: 1px solid white;
    border-radius: 3rem;
    background: none;
    color: white;
    transition: .3s; }
  .body-productos .boton-comprar:hover {
    width: 110px;
    height: 35px;
    border: 1px solid aqua;
    transition: .4s; }

.body-galeria {
  background-image: url(../img/fondo-galeria.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position: center; }
  .body-galeria main {
    display: flex;
    width: 99%;
    height: 500px;
    font-family: 'Julius Sans One', sans-serif;
    justify-content: space-evenly; }

.body-contacto {
  background-image: url(../img/fondo-contacto.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position: center; }
  .body-contacto main {
    display: flex;
    width: 99%;
    height: 500px;
    font-family: 'Julius Sans One', sans-serif;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    overflow: hidden; }
    .body-contacto main .formulario {
      width: 20rem;
      height: 30rem;
      text-align: center; }
      .body-contacto main .formulario .formulario-estilo {
        width: 20rem;
        height: 30rem;
        text-align: center;
        border-radius: 3rem;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        background-color: rgba(243, 243, 243, 0.2); }
        .body-contacto main .formulario .formulario-estilo fieldset {
          color: white;
          width: 20rem;
          height: 30rem;
          border: 1px solid white;
          border-radius: 3rem;
          align-items: center;
          align-content: center;
          justify-content: center;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          align-content: center;
          justify-content: space-evenly;
          font-family: 'Julius Sans One', sans-serif;
          overflow: hidden; }

footer {
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: space-evenly;
  padding: 3px 1rem; }
  footer .redes {
    background: none;
    cursor: pointer;
    border: none; }

.texto-uno {
  grid-area: texto-uno; }

.imagen-nosotros {
  grid-area: imagen-nosotros; }

.imagen-dos {
  grid-area: imagen-dos; }

.texto-dos {
  grid-area: texto-dos; }
